In [1]:
#imports
import random
import calendar
import pandas as pd

In [2]:
#Random year & month
year = random.randint(1970,2100)
month = random.randint(1,12)
print("Year :" , year," Month: ",month)

#no of days
start_day, no_of_days = calendar.monthrange(year, month)
start_day = (calendar.day_name[start_day])
print("No. of days: ", no_of_days)
print("Starting day of the week: ", start_day)

Year : 2039  Month:  1
No. of days:  31
Starting day of the week:  Saturday

In [3]:
def create_date_table(start, end):
    df = pd.DataFrame({"Date": pd.date_range(start, end)})
    df["Week"] = df.Date.dt.weekofyear
    df["Day"] = df.Date.dt.weekday_name
    return df

In [4]:
df = create_date_table(str(year) + '-' + str(month) +'-01', end=str(year) + '-' + str(month) +'-'+str(no_of_days))

In [5]:
df

         Date  Week        Day
0  2039-01-01    52   Saturday
1  2039-01-02    52     Sunday
2  2039-01-03     1     Monday
3  2039-01-04     1    Tuesday
4  2039-01-05     1  Wednesday
5  2039-01-06     1   Thursday
6  2039-01-07     1     Friday
7  2039-01-08     1   Saturday
8  2039-01-09     1     Sunday
9  2039-01-10     2     Monday
10 2039-01-11     2    Tuesday
11 2039-01-12     2  Wednesday
12 2039-01-13     2   Thursday
13 2039-01-14     2     Friday
14 2039-01-15     2   Saturday
15 2039-01-16     2     Sunday
16 2039-01-17     3     Monday
17 2039-01-18     3    Tuesday
18 2039-01-19     3  Wednesday
19 2039-01-20     3   Thursday
20 2039-01-21     3     Friday
21 2039-01-22     3   Saturday
22 2039-01-23     3     Sunday
23 2039-01-24     4     Monday
24 2039-01-25     4    Tuesday
25 2039-01-26     4  Wednesday
26 2039-01-27     4   Thursday
27 2039-01-28     4     Friday
28 2039-01-29     4   Saturday
29 2039-01-30     4     Sunday
30 2039-01-31     5     Monday