## Rules
1. Four coloured team
2. Each team must be covered by 1 person everyday
* On weekdays, one employee can cover 2 teams
* On weekends, employees can only be on one team, but can cover 2 teams if in gold
* One cannot do both Red and Blue on weekends
* An employee cannot work for 3 weekends in a row
* Different days of the week have score. More the score, less ideal to work on:

Saturday < Friday < Sunday < Tuesday = Thursday < Wednesday = Monday<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(5)
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(4)
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(3)
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(2)
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(2)
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(1)
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(1)
       
* Design the algorithm to find the best schedule based on the lowest overall total
* Some employees will request days off, they should not be penaltized to have more work

In [1]:
import random
import calendar
import pandas as pd
import numpy as np
from numpy.random import choice
import timeit
import csv
import warnings
warnings.filterwarnings("ignore")

start = timeit.default_timer()

#### Random year & month

In [2]:
year = random.randint(1970,2100)
month = random.randint(1,12)
print("Year :" , year," Month: ",month)

#no of days
start_day, no_of_days = calendar.monthrange(year, month)
start_day = (calendar.day_name[start_day])
# print("No. of days: ", no_of_days)
# print("Starting day of the week: ", start_day)

Year : 2024  Month:  10

#### Create month table

In [3]:
def get_score(weekday_name):
#     print(weekday_name)
    day_score = []
    for name in weekday_name:
        if name == 'Saturday' :
            day_score.append(5)
        elif name == 'Friday':
            day_score.append(4)
        elif name == 'Sunday':
            day_score.append(3)
        elif name == 'Tuesday' or name =='Thursday' :
            day_score.append(2)
        else:
            day_score.append(1)
    return day_score
            

def create_table(start, end):
    df = pd.DataFrame({'Date': pd.date_range(start, end)})
    df['Day'] = df.Date.dt.weekday_name
    df['Score'] = get_score(df.Date.dt.weekday_name)
    df['Blue'] = 'NA'
    df['Red'] = 'NA'
    df['Silver'] = 'NA'
    df['Gold'] = 'NA'
    return df

In [4]:
start_date = str(year) + '-' + str(month) +'-01'
end_date = str(year) + '-' + str(month) +'-'+str(no_of_days)

df_teams = create_table(start_date, end_date)

#### List of random no. of employees
#### Also select last 2 weekend's work randomly

In [5]:
no_of_empl = random.randint(25,50)

#6 random employees worked 2 weekends back
weekend_1 = random.sample(range(1,no_of_empl+1), 6)
weekend_2 = random.sample(range(1,no_of_empl+1), 6)

empl_list = []
for i in range(1,no_of_empl+1):
    one_weekend_back = 0
    two_weekend_back = 0
    if i in weekend_1:
        one_weekend_back = 1
    if i in weekend_2:
        two_weekend_back = 1
    if(i<10):
        empl_list.append(['emp_0' + str(i), 0, two_weekend_back, one_weekend_back, 0])
    else:
        empl_list.append(['emp_' + str(i), 0, two_weekend_back, one_weekend_back, 0])

#### Random no. of employee on holiday for random amount of days

In [6]:
#5-10 employees taking a leave
no_of_empl_leave = random.randint(5,10)

#selecting random employees who are takeing a leave
empl_list_leave = random.sample(range(0,no_of_empl+1), no_of_empl_leave)

#assiging random amount of leave days (max 10)
for loc,empl in enumerate(empl_list):
    if loc in empl_list_leave:
        empl[4] = random.randint(1,10)

for num,empl in enumerate(empl_list):
    days_leave = random.sample(list(df_teams['Date']), empl[4])
    empl.append(days_leave)
    empl.append(10000)
    empl.append(no_of_days/(no_of_days-empl[4]))
    
# print("[Employee name, If working this week, If worked one weekend back, if worked two weekends back, No of days on leave, Weight, Score Multiplier]")
# for empl in empl_list:
#     print(empl)

[Employee name, If working this week, If worked one weekend back, if worked two weekends back, No of days on leave, Weight, Score Multiplier]
['emp_01', 0, 0, 1, 0, [], 10000, 1.0]
['emp_02', 0, 1, 0, 0, [], 10000, 1.0]
['emp_03', 0, 0, 0, 0, [], 10000, 1.0]
['emp_04', 0, 0, 0, 10, [Timestamp('2024-10-09 00:00:00'), Timestamp('2024-10-28 00:00:00'), Timestamp('2024-10-30 00:00:00'), Timestamp('2024-10-08 00:00:00'), Timestamp('2024-10-20 00:00:00'), Timestamp('2024-10-02 00:00:00'), Timestamp('2024-10-19 00:00:00'), Timestamp('2024-10-05 00:00:00'), Timestamp('2024-10-15 00:00:00'), Timestamp('2024-10-23 00:00:00')], 10000, 1.4761904761904763]
['emp_05', 0, 0, 0, 0, [], 10000, 1.0]
['emp_06', 0, 0, 0, 0, [], 10000, 1.0]
['emp_07', 0, 0, 0, 0, [], 10000, 1.0]
['emp_08', 0, 0, 0, 0, [], 10000, 1.0]
['emp_09', 0, 1, 1, 0, [], 10000, 1.0]
['emp_10', 0, 0, 0, 0, [], 10000, 1.0]
['emp_11', 0, 1, 0, 0, [], 10000, 1.0]
['emp_12', 0, 1, 0, 0, [], 10000, 1.0]
['emp_13', 0, 0, 1, 0, [], 10000, 1.0]
['emp_14', 0, 0, 0, 0, [], 10000, 1.0]
['emp_15', 0, 0, 0, 5, [Timestamp('2024-10-07 00:00:00'), Timestamp('2024-10-16 00:00:00'), Timestamp('2024-10-14 00:00:00'), Timestamp('2024-10-21 00:00:00'), Timestamp('2024-10-28 00:00:00')], 10000, 1.1923076923076923]
['emp_16', 0, 0, 0, 0, [], 10000, 1.0]
['emp_17', 0, 0, 1, 0, [], 10000, 1.0]
['emp_18', 0, 0, 0, 0, [], 10000, 1.0]
['emp_19', 0, 0, 0, 0, [], 10000, 1.0]
['emp_20', 0, 0, 0, 0, [], 10000, 1.0]
['emp_21', 0, 1, 0, 0, [], 10000, 1.0]
['emp_22', 0, 0, 0, 1, [Timestamp('2024-10-11 00:00:00')], 10000, 1.0333333333333334]
['emp_23', 0, 0, 0, 0, [], 10000, 1.0]
['emp_24', 0, 0, 0, 0, [], 10000, 1.0]
['emp_25', 0, 0, 0, 0, [], 10000, 1.0]
['emp_26', 0, 0, 0, 0, [], 10000, 1.0]
['emp_27', 0, 0, 0, 5, [Timestamp('2024-10-13 00:00:00'), Timestamp('2024-10-26 00:00:00'), Timestamp('2024-10-20 00:00:00'), Timestamp('2024-10-25 00:00:00'), Timestamp('2024-10-28 00:00:00')], 10000, 1.1923076923076923]
['emp_28', 0, 0, 0, 5, [Timestamp('2024-10-15 00:00:00'), Timestamp('2024-10-25 00:00:00'), Timestamp('2024-10-08 00:00:00'), Timestamp('2024-10-29 00:00:00'), Timestamp('2024-10-19 00:00:00')], 10000, 1.1923076923076923]
['emp_29', 0, 0, 0, 0, [], 10000, 1.0]
['emp_30', 0, 0, 0, 1, [Timestamp('2024-10-12 00:00:00')], 10000, 1.0333333333333334]
['emp_31', 0, 0, 0, 0, [], 10000, 1.0]
['emp_32', 0, 1, 0, 0, [], 10000, 1.0]
['emp_33', 0, 0, 0, 4, [Timestamp('2024-10-28 00:00:00'), Timestamp('2024-10-30 00:00:00'), Timestamp('2024-10-16 00:00:00'), Timestamp('2024-10-13 00:00:00')], 10000, 1.1481481481481481]
['emp_34', 0, 0, 1, 0, [], 10000, 1.0]
['emp_35', 0, 0, 0, 0, [], 10000, 1.0]
['emp_36', 0, 0, 1, 0, [], 10000, 1.0]
['emp_37', 0, 0, 0, 0, [], 10000, 1.0]
['emp_38', 0, 0, 0, 5, [Timestamp('2024-10-11 00:00:00'), Timestamp('2024-10-06 00:00:00'), Timestamp('2024-10-04 00:00:00'), Timestamp('2024-10-07 00:00:00'), Timestamp('2024-10-27 00:00:00')], 10000, 1.1923076923076923]
['emp_39', 0, 0, 0, 0, [], 10000, 1.0]
['emp_40', 0, 0, 0, 0, [], 10000, 1.0]
['emp_41', 0, 0, 0, 4, [Timestamp('2024-10-29 00:00:00'), Timestamp('2024-10-31 00:00:00'), Timestamp('2024-10-23 00:00:00'), Timestamp('2024-10-21 00:00:00')], 10000, 1.1481481481481481]
['emp_42', 0, 0, 0, 0, [], 10000, 1.0]
['emp_43', 0, 0, 0, 0, [], 10000, 1.0]
['emp_44', 0, 0, 0, 0, [], 10000, 1.0]
['emp_45', 0, 0, 0, 0, [], 10000, 1.0]

In [7]:
def employee_schedule(start, end, empl_list):
    df = pd.DataFrame({'Date': pd.date_range(start, end)})
    for emp in empl_list:
        df[emp[0]] = 0
    return df
    
df_emp = employee_schedule(start_date, end_date, empl_list)

#### Randomly assigning work to employees

In [8]:
def update_df_emp(teams, empl_choice, loc, score, df_emp):
    
    for empl in empl_list:
        if empl == empl_choice:
            df_emp.loc[loc,empl[0]] += score*teams*empl[7]
    
    return df_emp


## Select completly random employee for next day
def random_choice(free_list):
    return random.choice(free_list)

## Select an employee Psuedo-randomly (based on thier weights)
def weighted_choice(free_list):
    totals = []
    running_total = 0

    for w in [empl[6] for empl in free_list]:
        running_total += w
        totals.append(running_total)

    rnd = random.random() * running_total
    for i, total in enumerate(totals):
        if rnd < total:
            return free_list[i]

## Select employee who has lowest total score till date
def best_choice(free_list):
    highest = -1
    best = []
    random.shuffle(free_list)

    for empl in free_list:
        if empl[6] > highest:
            highest = empl[6]
            best = empl

    return best

In [9]:
def assign_schedule(df_teams, df_emp, empl_list):
    
#     df_teams = df_teams.sort_values(by=['Score'], ascending=False)

    for loc,date in enumerate(df_teams['Date']):

        score = df_teams.loc[loc,'Score']
        
        #weekend
        if(date.weekday_name == 'Saturday' or date.weekday_name == 'Sunday'):
            free_list = []
            for empl in empl_list:
                if ((empl[2] == 0 or empl[3] == 0) and empl[1] == 0) and (date not in empl[5]):
                    free_list.append(empl)

            gold_choice = best_choice(free_list)
            df_teams.at[loc, 'Gold'] = gold_choice[0]

            free_list = [x for x in free_list if x != gold_choice]

            #assign same to one of the other three team (red,blue,silver)
            with_gold = choice(['Red','Blue','Silver'])
            df_teams.at[loc, with_gold] = gold_choice[0]
            update_df_emp(2, gold_choice, loc, score, df_emp)

            #assign different employees to remaining 2 team
            other_choice_1 = best_choice(free_list)
            free_list = [x for x in free_list if x != other_choice_1]
            other_choice_2 = best_choice(free_list)

            if with_gold == 'Blue':
                df_teams.at[loc, 'Red'] = other_choice_1[0]
                df_teams.at[loc, 'Silver'] = other_choice_2[0]
                update_df_emp(1,other_choice_1,loc, score, df_emp)
                update_df_emp(1,other_choice_2,loc, score, df_emp)
            elif with_gold == 'Red':
                df_teams.at[loc, 'Blue'] = other_choice_1[0]
                df_teams.at[loc, 'Silver'] = other_choice_2[0]
                update_df_emp(1,other_choice_1,loc, score, df_emp)
                update_df_emp(1,other_choice_2,loc, score, df_emp)
            else:
                df_teams.at[loc, 'Blue'] = other_choice_1[0]
                df_teams.at[loc, 'Red'] = other_choice_2[0]
                update_df_emp(1,other_choice_1,loc, score, df_emp)
                update_df_emp(1,other_choice_2,loc, score, df_emp)

            #update weekend work status
            for i in range(len(empl_list)):
                if(empl_list[i]==gold_choice or empl_list[i]==other_choice_1 or empl_list[i]==other_choice_2):
                    empl_list[i][1] = 1

            if(date.weekday_name == 'Sunday'):
                for i in range(len(empl_list)):
                    empl_list[i][3] = empl_list[i][2]
                    empl_list[i][2] = empl_list[i][1]
                    empl_list[i][1] = 0
    #   Weekday
        else:
            free_list = []
            for empl in empl_list:
                if date not in empl[5]:
                    free_list.append(empl)

            #Get random choice for Gold
            gold_choice = best_choice(free_list)
            df_teams.at[loc, 'Gold'] = gold_choice[0]

            #assign same to one of the other three team (red,blue,silver)
            with_gold = choice(['Red','Blue','Silver'])
            df_teams.at[loc, with_gold] = gold_choice[0]

            update_df_emp(2, gold_choice, loc, score, df_emp)
            free_list = [x for x in empl_list if x != gold_choice]

            #assign different employee to remaining 2 team
            other_choice = best_choice(free_list)
            if with_gold == 'Blue':
                df_teams.at[loc, 'Red'] = other_choice[0]
                df_teams.at[loc, 'Silver'] = other_choice[0]
                update_df_emp(2,other_choice,loc, score, df_emp)
            elif with_gold == 'Red':
                df_teams.at[loc, 'Blue'] = other_choice[0]
                df_teams.at[loc, 'Silver'] = other_choice[0]
                update_df_emp(2,other_choice,loc, score, df_emp)
            else:
                df_teams.at[loc, 'Blue'] = other_choice[0]
                df_teams.at[loc, 'Red'] = other_choice[0]
                update_df_emp(2,other_choice,loc, score, df_emp)

        df_emp.loc['Total'] = 0.0001
        df_emp.loc['Total'] = df_emp.sum()
        for empl in empl_list:
            empl[6] = 1 / df_emp.loc['Total'][empl[0]]
    
#     df_teams = df_teams.sort_values(by=['Date'])

    return df_teams, df_emp, empl_list

In [10]:
df_teams, df_emp, empl_list = assign_schedule(df_teams, df_emp, empl_list)

In [11]:
# df_teams.loc[loc,'Score']
# df_teams.loc[10,'Score']
df_emp

,Date,emp_01,emp_02,emp_03,emp_04,emp_05,emp_06,emp_07,emp_08,emp_09,...,emp_36,emp_37,emp_38,emp_39,emp_40,emp_41,emp_42,emp_43,emp_44,emp_45
0,2024-10-01 00:00:00,0.0000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.000000,0.0000,0.0000,4.592593,0.0000,0.0000,0.0000,0.0000
1,2024-10-02 00:00:00,0.0000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,2.0000,0.000000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000
2,2024-10-03 00:00:00,0.0000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.000000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000
3,2024-10-04 00:00:00,0.0000,0.0000,0.0000,0.000000,8.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.000000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000
4,2024-10-05 00:00:00,0.0000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.000000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000
5,2024-10-06 00:00:00,0.0000,0.0000,0.0000,0.000000,0.0000,0.0000,3.0000,0.0000,0.0000,...,6.0000,0.0000,0.000000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000
6,2024-10-07 00:00:00,0.0000,0.0000,0.0000,2.952381,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.000000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000
7,2024-10-08 00:00:00,0.0000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.000000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000
8,2024-10-09 00:00:00,0.0000,2.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.000000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000
9,2024-10-10 00:00:00,0.0000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,4.769231,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000
10,2024-10-11 00:00:00,8.0000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000,8.0000,...,0.0000,0.0000,0.000000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000
11,2024-10-12 00:00:00,0.0000,0.0000,5.0000,0.000000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.000000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000
12,2024-10-13 00:00:00,0.0000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.000000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000
13,2024-10-14 00:00:00,0.0000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.000000,2.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000
14,2024-10-15 00:00:00,0.0000,0.0000,0.0000,0.000000,0.0000,4.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.000000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000
15,2024-10-16 00:00:00,0.0000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.000000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000
16,2024-10-17 00:00:00,0.0000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.000000,0.0000,4.0000,0.000000,0.0000,0.0000,0.0000,0.0000
17,2024-10-18 00:00:00,0.0000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.000000,0.0000,0.0000,0.000000,8.0000,0.0000,0.0000,0.0000
18,2024-10-19 00:00:00,0.0000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.000000,0.0000,0.0000,0.000000,0.0000,5.0000,0.0000,5.0000
19,2024-10-20 00:00:00,0.0000,3.0000,0.0000,0.000000,0.0000,0.0000,0.0000,6.0000,0.0000,...,0.0000,0.0000,0.000000,0.0000,0.0000,0.000000,0.0000,0.0000,3.0000,0.0000
20,2024-10-21 00:00:00,0.0000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,2.0000,0.000000,2.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000
21,2024-10-22 00:00:00,0.0000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.000000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000
22,2024-10-23 00:00:00,0.0000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.000000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000
23,2024-10-24 00:00:00,0.0000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.000000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000
24,2024-10-25 00:00:00,0.0000,0.0000,0.0000,11.809524,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.000000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000
25,2024-10-26 00:00:00,0.0000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.000000,0.0000,0.0000,0.000000,0.0000,0.0000,5.0000,0.0000
26,2024-10-27 00:00:00,0.0000,0.0000,0.0000,0.000000,0.0000,0.0000,6.0000,0.0000,0.0000,...,0.0000,3.0000,0.000000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000
27,2024-10-28 00:00:00,0.0000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.000000,2.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000
28,2024-10-29 00:00:00,0.0000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.000000,0.0000,4.0000,0.000000,0.0000,0.0000,0.0000,0.0000
29,2024-10-30 00:00:00,0.0000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.000000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000
30,2024-10-31 00:00:00,0.0000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.000000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000
Total,NaN,8.0001,5.0001,5.0001,14.762005,8.0001,4.0001,9.0001,6.0001,8.0001,...,6.0001,7.0001,4.769331,6.0001,8.0001,4.592693,8.0001,5.0001,8.0001,5.0001

In [12]:
workload_array = df_emp.loc['Total','emp_01':]
for num,workload in enumerate(workload_array):
    workload *= no_of_days / (no_of_days-empl_list[num][4])
    workload_array[num] = workload
wordload_std = np.std(workload_array)
std_no_of_empl = wordload_std * np.sqrt(no_of_empl)
score_to_minimize = wordload_std * np.sqrt(no_of_empl) / np.sqrt(no_of_days)

In [13]:
# tosave = [no_of_empl, no_of_days, wordload_std, std_no_of_empl, score_to_minimize]
# with open('std.csv','a') as f:
#     writer = csv.writer(f)
#     writer.writerow(tosave)

In [14]:
stop = timeit.default_timer()

print('Time: ', stop - start)

Time:  1.1394442759919912

In [15]:
score_to_minimize

3.5342270446098056

In [16]:
df_teams

         Date        Day  Score    Blue     Red  Silver    Gold
0  2024-10-01    Tuesday      2  emp_41  emp_41  emp_30  emp_30
1  2024-10-02  Wednesday      1  emp_32  emp_37  emp_32  emp_37
2  2024-10-03   Thursday      2  emp_34  emp_25  emp_34  emp_25
3  2024-10-04     Friday      4  emp_15  emp_05  emp_05  emp_15
4  2024-10-05   Saturday      5  emp_16  emp_33  emp_28  emp_16
5  2024-10-06     Sunday      3  emp_07  emp_31  emp_36  emp_36
6  2024-10-07     Monday      1  emp_04  emp_04  emp_10  emp_10
7  2024-10-08    Tuesday      2  emp_27  emp_27  emp_12  emp_12
8  2024-10-09  Wednesday      1  emp_24  emp_24  emp_02  emp_02
9  2024-10-10   Thursday      2  emp_19  emp_19  emp_38  emp_38
10 2024-10-11     Friday      4  emp_01  emp_09  emp_09  emp_01
11 2024-10-12   Saturday      5  emp_21  emp_03  emp_22  emp_21
12 2024-10-13     Sunday      3  emp_26  emp_18  emp_11  emp_11
13 2024-10-14     Monday      1  emp_35  emp_35  emp_39  emp_39
14 2024-10-15    Tuesday      2  emp_20  emp_06  emp_06  emp_20
15 2024-10-16  Wednesday      1  emp_23  emp_23  emp_17  emp_17
16 2024-10-17   Thursday      2  emp_40  emp_14  emp_14  emp_40
17 2024-10-18     Friday      4  emp_29  emp_42  emp_29  emp_42
18 2024-10-19   Saturday      5  emp_45  emp_13  emp_43  emp_13
19 2024-10-20     Sunday      3  emp_44  emp_08  emp_02  emp_08
20 2024-10-21     Monday      1  emp_37  emp_37  emp_39  emp_39
21 2024-10-22    Tuesday      2  emp_32  emp_35  emp_35  emp_32
22 2024-10-23  Wednesday      1  emp_10  emp_10  emp_24  emp_24
23 2024-10-24   Thursday      2  emp_23  emp_23  emp_17  emp_17
24 2024-10-25     Friday      4  emp_31  emp_04  emp_31  emp_04
25 2024-10-26   Saturday      5  emp_26  emp_44  emp_18  emp_26
26 2024-10-27     Sunday      3  emp_07  emp_20  emp_37  emp_07
27 2024-10-28     Monday      1  emp_39  emp_39  emp_25  emp_25
28 2024-10-29    Tuesday      2  emp_40  emp_10  emp_40  emp_10
29 2024-10-30  Wednesday      1  emp_24  emp_19  emp_24  emp_19
30 2024-10-31   Thursday      2  emp_12  emp_12  emp_34  emp_34

In [17]:
df_emp

,Date,emp_01,emp_02,emp_03,emp_04,emp_05,emp_06,emp_07,emp_08,emp_09,...,emp_36,emp_37,emp_38,emp_39,emp_40,emp_41,emp_42,emp_43,emp_44,emp_45
0,2024-10-01 00:00:00,0.0000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.000000,0.0000,0.0000,4.592593,0.0000,0.0000,0.0000,0.0000
1,2024-10-02 00:00:00,0.0000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,2.0000,0.000000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000
2,2024-10-03 00:00:00,0.0000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.000000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000
3,2024-10-04 00:00:00,0.0000,0.0000,0.0000,0.000000,8.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.000000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000
4,2024-10-05 00:00:00,0.0000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.000000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000
5,2024-10-06 00:00:00,0.0000,0.0000,0.0000,0.000000,0.0000,0.0000,3.0000,0.0000,0.0000,...,6.0000,0.0000,0.000000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000
6,2024-10-07 00:00:00,0.0000,0.0000,0.0000,2.952381,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.000000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000
7,2024-10-08 00:00:00,0.0000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.000000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000
8,2024-10-09 00:00:00,0.0000,2.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.000000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000
9,2024-10-10 00:00:00,0.0000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,4.769231,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000
10,2024-10-11 00:00:00,8.0000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000,8.0000,...,0.0000,0.0000,0.000000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000
11,2024-10-12 00:00:00,0.0000,0.0000,5.0000,0.000000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.000000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000
12,2024-10-13 00:00:00,0.0000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.000000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000
13,2024-10-14 00:00:00,0.0000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.000000,2.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000
14,2024-10-15 00:00:00,0.0000,0.0000,0.0000,0.000000,0.0000,4.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.000000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000
15,2024-10-16 00:00:00,0.0000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.000000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000
16,2024-10-17 00:00:00,0.0000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.000000,0.0000,4.0000,0.000000,0.0000,0.0000,0.0000,0.0000
17,2024-10-18 00:00:00,0.0000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.000000,0.0000,0.0000,0.000000,8.0000,0.0000,0.0000,0.0000
18,2024-10-19 00:00:00,0.0000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.000000,0.0000,0.0000,0.000000,0.0000,5.0000,0.0000,5.0000
19,2024-10-20 00:00:00,0.0000,3.0000,0.0000,0.000000,0.0000,0.0000,0.0000,6.0000,0.0000,...,0.0000,0.0000,0.000000,0.0000,0.0000,0.000000,0.0000,0.0000,3.0000,0.0000
20,2024-10-21 00:00:00,0.0000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,2.0000,0.000000,2.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000
21,2024-10-22 00:00:00,0.0000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.000000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000
22,2024-10-23 00:00:00,0.0000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.000000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000
23,2024-10-24 00:00:00,0.0000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.000000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000
24,2024-10-25 00:00:00,0.0000,0.0000,0.0000,11.809524,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.000000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000
25,2024-10-26 00:00:00,0.0000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.000000,0.0000,0.0000,0.000000,0.0000,0.0000,5.0000,0.0000
26,2024-10-27 00:00:00,0.0000,0.0000,0.0000,0.000000,0.0000,0.0000,6.0000,0.0000,0.0000,...,0.0000,3.0000,0.000000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000
27,2024-10-28 00:00:00,0.0000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.000000,2.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000
28,2024-10-29 00:00:00,0.0000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.000000,0.0000,4.0000,0.000000,0.0000,0.0000,0.0000,0.0000
29,2024-10-30 00:00:00,0.0000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.000000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000
30,2024-10-31 00:00:00,0.0000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.000000,0.0000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000
Total,NaN,8.0001,5.0001,5.0001,14.762005,8.0001,4.0001,9.0001,6.0001,8.0001,...,6.0001,7.0001,4.769331,6.0001,8.0001,4.592693,8.0001,5.0001,8.0001,5.0001