In [75]:
import pandas as pd
import numpy as np
import datetime
import calendar

In [76]:
c=calendar.TextCalendar(calendar.MONDAY)

In [77]:
year=input("Enter the year for the schedule ")
month= input("Enter the month for the schedule ")

Enter the year for the schedule 2019
Enter the month for the schedule Jan

In [78]:
if(month.lower()=='january' or month.lower()=='Jan' or month==1):
    month_no=1
elif(month.lower()=='february' or month.lower()=='Feb' or month==2):
    month_no=2
elif(month.lower()=='march' or month==3):
    month_no=3
elif(month.lower()=='april'or month==4):
    month_no=4
elif(month.lower()=='may' or month==5):
    month_no=5
elif(month.lower()=='june' or month==6):
    month_no=6
elif(month.lower()=='july' or month==7):
    month_no=7
elif(month.lower()=='august'or month.lower()=='aug' or month==8):
    month_no=8
elif(month.lower()=='september'or month.lower()=='sept' or month==9):
    month_no=9
elif(month.lower()=='october'or month.lower()=='oct' or month==10):
    month_no=10
elif(month.lower()=='november'or month.lower()=='nov' or month==11):
    month_no=11
elif(month.lower()=='december'or month.lower()=='dec' or month==12):
    month_no=12
    
month_no

3

In [79]:
str=c.formatmonth(int(year),int(month_no))
str

'     March 2019\nMo Tu We Th Fr Sa Su\n             1  2  3\n 4  5  6  7  8  9 10\n11 12 13 14 15 16 17\n18 19 20 21 22 23 24\n25 26 27 28 29 30 31\n'

In [80]:
cal_dates=[]
for i in c.itermonthdays(int(year),int(month_no)):
    cal_dates.append(i)
print(len(cal_dates)) 
cal_dates

35

[0,
 0,
 0,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31]

In [81]:
list_days=['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']

In [82]:
list_month=list_days[0:len(cal_dates)]
len(list_month)

35

In [83]:
weights_days=[]
for i in list_month:
    if(i=='Monday'):
        check=1
        weights_days.append(check)
    elif(i=='Tuesday'):
        check=2
        weights_days.append(check)
    elif(i=='Wednesday'):
        check=1
        weights_days.append(check)
    elif(i=='Thursday'):
        check=2
        weights_days.append(check)
    elif(i=='Friday'):
        check=4
        weights_days.append(check)
    elif(i=='Saturday'):
        check=5
        weights_days.append(check)
    elif(i=='Sunday'):
        check=3
        weights_days.append(check)


print(len(weights_days))        
weights_days

35

[1,
 2,
 1,
 2,
 4,
 5,
 3,
 1,
 2,
 1,
 2,
 4,
 5,
 3,
 1,
 2,
 1,
 2,
 4,
 5,
 3,
 1,
 2,
 1,
 2,
 4,
 5,
 3,
 1,
 2,
 1,
 2,
 4,
 5,
 3]

In [84]:
dates_result= pd.DataFrame({'Date' : cal_dates, 'Day' : list_month, 'Weight' : weights_days})
dates_result

    Date        Day  Weight
0      0     Monday       1
1      0    Tuesday       2
2      0  Wednesday       1
3      0   Thursday       2
4      1     Friday       4
5      2   Saturday       5
6      3     Sunday       3
7      4     Monday       1
8      5    Tuesday       2
9      6  Wednesday       1
10     7   Thursday       2
11     8     Friday       4
12     9   Saturday       5
13    10     Sunday       3
14    11     Monday       1
15    12    Tuesday       2
16    13  Wednesday       1
17    14   Thursday       2
18    15     Friday       4
19    16   Saturday       5
20    17     Sunday       3
21    18     Monday       1
22    19    Tuesday       2
23    20  Wednesday       1
24    21   Thursday       2
25    22     Friday       4
26    23   Saturday       5
27    24     Sunday       3
28    25     Monday       1
29    26    Tuesday       2
30    27  Wednesday       1
31    28   Thursday       2
32    29     Friday       4
33    30   Saturday       5
34    31     Sunday       3

In [85]:
holiday_no=input("enter the number of holidays in the month")

enter the number of holidays in the month2

In [86]:
holiday_dates=[]
for i in range(0,int(holiday_no)):
    check=input("enter the dates of the holiday")
    holiday_dates.append(check)

enter the dates of the holiday14
enter the dates of the holiday26

In [87]:
holiday_dates

['14', '26']

In [88]:
new_weight=[]

new_weight=dates_result['Weight']
new_weight

0     1
1     2
2     1
3     2
4     4
5     5
6     3
7     1
8     2
9     1
10    2
11    4
12    5
13    3
14    1
15    2
16    1
17    2
18    4
19    5
20    3
21    1
22    2
23    1
24    2
25    4
26    5
27    3
28    1
29    2
30    1
31    2
32    4
33    5
34    3
Name: Weight, dtype: int64

In [89]:
index_list=[]
print(cal_dates.index(4))
for i in holiday_dates:
    print(i)
    check=cal_dates.index(int(i))
    index_list.append(check)
    
index_list

7
14
26

[17, 29]

In [90]:
for i in index_list:
    new_weight[i]=5
    
new_weight

C:\Users\jaiut\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

0     1
1     2
2     1
3     2
4     4
5     5
6     3
7     1
8     2
9     1
10    2
11    4
12    5
13    3
14    1
15    2
16    1
17    5
18    4
19    5
20    3
21    1
22    2
23    1
24    2
25    4
26    5
27    3
28    1
29    5
30    1
31    2
32    4
33    5
34    3
Name: Weight, dtype: int64

In [91]:
dates_result_final= pd.DataFrame({'Date' : cal_dates, 'Day' : list_month, 'Weight' : weights_days, "New_Weight":new_weight})
dates_result_final

    Date        Day  Weight  New_Weight
0      0     Monday       1           1
1      0    Tuesday       2           2
2      0  Wednesday       1           1
3      0   Thursday       2           2
4      1     Friday       4           4
5      2   Saturday       5           5
6      3     Sunday       3           3
7      4     Monday       1           1
8      5    Tuesday       2           2
9      6  Wednesday       1           1
10     7   Thursday       2           2
11     8     Friday       4           4
12     9   Saturday       5           5
13    10     Sunday       3           3
14    11     Monday       1           1
15    12    Tuesday       2           2
16    13  Wednesday       1           1
17    14   Thursday       2           5
18    15     Friday       4           4
19    16   Saturday       5           5
20    17     Sunday       3           3
21    18     Monday       1           1
22    19    Tuesday       2           2
23    20  Wednesday       1           1
24    21   Thursday       2           2
25    22     Friday       4           4
26    23   Saturday       5           5
27    24     Sunday       3           3
28    25     Monday       1           1
29    26    Tuesday       2           5
30    27  Wednesday       1           1
31    28   Thursday       2           2
32    29     Friday       4           4
33    30   Saturday       5           5
34    31     Sunday       3           3

In [92]:
multiplier=[]
for i in range(0,len(dates_result_final['Date'])):
    if(dates_result_final['Date'][i]==0):
        check=i
        multiplier.append(i)
multiplier

[0, 1, 2, 3]

In [93]:
for i in multiplier:
    dates_result_final=dates_result_final.drop([i])

dates_result_final

    Date        Day  Weight  New_Weight
4      1     Friday       4           4
5      2   Saturday       5           5
6      3     Sunday       3           3
7      4     Monday       1           1
8      5    Tuesday       2           2
9      6  Wednesday       1           1
10     7   Thursday       2           2
11     8     Friday       4           4
12     9   Saturday       5           5
13    10     Sunday       3           3
14    11     Monday       1           1
15    12    Tuesday       2           2
16    13  Wednesday       1           1
17    14   Thursday       2           5
18    15     Friday       4           4
19    16   Saturday       5           5
20    17     Sunday       3           3
21    18     Monday       1           1
22    19    Tuesday       2           2
23    20  Wednesday       1           1
24    21   Thursday       2           2
25    22     Friday       4           4
26    23   Saturday       5           5
27    24     Sunday       3           3
28    25     Monday       1           1
29    26    Tuesday       2           5
30    27  Wednesday       1           1
31    28   Thursday       2           2
32    29     Friday       4           4
33    30   Saturday       5           5
34    31     Sunday       3           3

In [94]:
dates_result_final.to_csv('dates_month.csv')