In [1]:
import pandas as pd
import numpy as np
import datetime
import calendar

In [2]:
no_of_employees=input("enter the number of employees for the coming month")

enter the number of employees for the coming month5

In [3]:
print(no_of_employees)
employee_list=[]
employee_team=[]
for i in range(0,int(no_of_employees)):
    check=input("name "+str(i+1))
    check2=input("Enter the team of "+ check)
    employee_list.append(check)
    employee_team.append(check2)

employee_list

5
name 1a
Enter the team of ared
name 2b
Enter the team of bred
name 3c
Enter the team of cblue
name 4d
Enter the team of dsilver
name 5e
Enter the team of eblue

['a', 'b', 'c', 'd', 'e']

In [4]:
employee_team

['red', 'red', 'blue', 'silver', 'blue']

In [5]:
team_weights=[]
for i in employee_team:
    if(i.lower()=='red'):
        check=3
        team_weights.append(check)
        
    elif(i.lower()=='blue'):
        check=3
        team_weights.append(check)
    
    elif(i.lower()=='silver'):
        check=3
        team_weights.append(check)
        
    else:
        team_weights.append(1)
        
team_weights

[3, 3, 3, 3, 3]

In [6]:
# date_data=pd.read_csv('dates_month.csv')
# total_days=len(date_data)

In [7]:
# holiday_list_people=[]
# holiday_list=[]
# for i in range(0,len(employee_list)):
#     check=input("Enter the number of holidays for employee " + employee_list[i])
#     holiday_list.append(check)
#     if(int(check)>0):
#         holiday_list_people.append(employee_list[i])
        
# holiday_list

In [8]:
# holiday_list_people

In [9]:
# index_list=[]
# for i in holiday_list_people:
#     print(i)
#     check=employee_list.index(i)
#     index_list.append(check)
    
# index_list

In [10]:
employee_result= pd.DataFrame({'Employee_name' : employee_list, 'Teams' : employee_team, 'Team_Weight' : team_weights})
employee_result

  Employee_name   Teams  Team_Weight
0             a     red            3
1             b     red            3
2             c    blue            3
3             d  silver            3
4             e    blue            3

In [11]:
employee_result.to_csv('employee.csv')